button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: blanchedalmond;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 25px;
}

button:hover{
    background-color: aqua;
}

.boton-click{
    background-color: #006ead;
}

.boton-reiniciar{
    background-color: #5a01a7;
}
